---
- name: Ensure core utilities are installed
  ansible.builtin.yum:
    name:
      - bash
      - vim
      - curl
      - wget
      - net-tools
      - tar
    state: present
  register: common_packages
  until: common_packages is succeeded
  retries: 3
  delay: 5

- name: Set timezone to UTC (container-safe)
  ansible.builtin.file:
    src: /usr/share/zoneinfo/UTC
    dest: /etc/localtime
    state: link
